// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "sass:color";
@import "PopupWindows.scss";
@import "Variable.scss";
@import "Separator.scss";
@import "TimeButton.scss";

label {
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	color: $fg;
}

image {
	border-radius: $radius;
}

box {
	border-radius: $radius;
	/* margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px; */
	/* padding: 5px, 10px, 5px, 10px; */
}

.container {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.container-cell {
	background: $bg1;
	padding: 5px;
}

scale {
	margin: 0;
	padding: 0 0.25rem;
	padding-left: 0.7rem;
	trough {
		border-radius: calc(nth($radius, 1) * 99);
		highlight {
			background-color: $fg;
			color: $fg;
			min-height: 25px;
			// min-width: 25px;
			border-radius: calc(nth($radius, 1) * 99);
		}
		slider {
			box-shadow: none;
			outline: unset;
			background-color: transparent;
		}
	}
}

button {
	box-shadow: 0 0 0 0;
	outline: none;
	border: none;
}

window.Bar {
	background: $bg;
	/* backdrop-filter: blur(10px); */
	color: $fg;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0 0 0 0;

	> centerbox {
		background: $bg;
		/* border-radius: 10px; */
		margin: 2px;
	}

	button {
		background: $bg1;
		border-radius: 8px;
		margin: 1px;
	}
}
